*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
/app/src/main/res/drawable/ic_logo_master_blue_rgb.xml
/app/src/main/res/drawable/ic_round.xml
