/build
/src/main/res/drawable/ic_logo_master_blue_rgb.xml
/src/main/res/drawable/ic_round.xml
/src/main/res/mipmap-hdpi/ic_launcher.png
/src/main/res/mipmap-xxhdpi/ic_launcher.png
/src/main/res/mipmap-mdpi/ic_launcher.png
/src/main/res/mipmap-xhdpi/ic_launcher.png
/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/src/main/res/mipmap-mdpi/ic_launcher_round.png
/src/main/res/mipmap-hdpi/ic_launcher_round.png
/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
